
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(-45deg, #ff4b1f, #1e90ff, #7b2ff7, #00c9a7);
    background-size: 400% 400%;
    animation: bg 12s ease infinite;
}

@keyframes bg {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.card {
    width: 90%;
    max-width: 1000px;
    padding: 30px;
    border-radius: 20px;

    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);

    text-align: center;
}

h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
    text-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

.buttons {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 20px;
    margin: 10px;

    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: rgba(0,0,0,0.4);

    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.btn:hover {
    transform: scale(1.1);
    background: white;
    color: black;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}